# 依赖
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# 环境变量
.env
.env.*

# Expo
.expo-shared/

# 调试日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 构建产物
build/
*.tsbuildinfo

# 测试覆盖率
coverage/ 